
.cart{
  display: flex;
  justify-content: center;
  margin-left: 100px;
  &_HoneyCards {
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-height: 80vh;
    width: 80vw;
    position: absolute;
    top: 10%;
    left: 15%;
  }

  &_headText{
    height: 10vh;
    position: absolute;
    top: 20px;
  }

  &_text{
    margin-top: 90px;
  }
}