*{
    margin: 0;
}

.card{
    margin-top: 10px;
    display: flex;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    gap: 5px;
    align-items: center;
    flex-direction: column;

    &__photoProduct{
        width: 95%;
        height: 60%;
    }
    &__text{
        width: 95%;
        height: 20%;
    }
    &__btn{
        width: 95%;
        height: 20%;
        margin-top: 10px;
    }
}

.honeyJar{
    width: 100%;
    height: 100%;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    position: absolute;
    
    &__buy{
        width: 145px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(255, 217, 0);
        border: none;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        top: -30px;

        &:active{
            background-color: rgb(241, 205, 0);
        }
    }

    &__descr{
        display: flex;
        position: relative;
        width: 45px;
        height: 30px;
        border: none;
        cursor: pointer;
        top: 0px;
        left: 150px;
        color: black;
        
        &:active{
            color: rgb(97, 97, 97);
        }
    }
}
