.searchBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}


.search {
  width: 14vw;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__inp {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
  }

  &__results {
    display: flex;
    flex-direction: column;
    width: 14vw;
    gap: 5px;
    z-index: 2;
    margin-top:40px;
    position: absolute;
    top: 30px;
  }

  &__result {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    height: 45px;
    cursor: pointer;
    &:hover {
      background-color: #e6e6e6;
    }
  }
}
