.cardDescription {
  margin-bottom: 80px;
  width: 45vw;
  height:90vh;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__Descr {
    margin-top: 8px;
    width: 40vw;
  }
  &__image{
    height: 90%;
    border-radius: 15px;
    margin-top: 5px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  &__price{
    display: flex-start;
    width: 40vw;
    margin-top: 10px;
  }
  &__bottomBlock{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
