* {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-attachment: fixed;
  background-color: #ffd447;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  align-items: center;
}

.basement{
width: 15vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 55px;
position: absolute;
bottom: 0%;
  &__pageTitle {
    position: absolute;
    margin-left: auto;
    bottom: 45px;
  }
}
.header {
  width: 15vw;
  display: flex;
  flex-direction: row;

  &__logo {
    margin-left: 15px;
    width: 70px;
    height: 70px;
  }

  &__StoreTitle {
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

.body {
  display: flex;
  flex-direction: row;
  height: 108vh;
  margin-right: 30px;
  &__products {
    width: 84vw;
    height: 108vh;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  &__productCategory {
    font-weight: 500;
    display: flex;
    width: 15vw;
    flex-direction: column;
    background-color: #ffc400;
    margin-right: auto;
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 15vh;
  &__link {
    text-decoration: none;
    margin-left: -40px;
  }

  &__card {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    height: 36px;
    width: 14vw;
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
    align-items: center;
    

    &:active {
      background-color: rgb(233, 233, 233);
    }
  }
  &__logo{
    height: 34px;
    width: 34px;
    margin: 0 25px 0 5px;
  }
  &__title{
   margin-bottom: 5px;
    font-size: 23px;
    width: 100%;
    &:hover{
      font-size: 25px;
      transition: .2s;
    }
  }
}

.logoBtn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15%;
  cursor: pointer;
  

  &__basket {
    height: 45px;
    width: 45px;
    color: black;
    transition: .3s;
    &:hover{
      height: 50px;
      width: 50px;
    }
  }

  &__filter {
    height: 46px;
    width: 46px;
    color: black;
    transition: .3s;
    &:hover{
      height: 51px;
      width: 51px;
    }
  }

  &__notification {
    height: 46px;
    width: 46px;
    color: black;
    transition: .3s;
    &:hover{
      height: 51px;
      width: 51px;
    }
  }
}

.basket{
  height: 100%;
  width: 100%;
}
.filter{
  height: 100%;
  width: 100%;
}



::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
  
}

::-webkit-scrollbar-track {
  background: #ffb647; /* Цвет фона скроллбара */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffd08a; /* Цвет ползунка */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffc368
}


